
.textFluffer{
	font-size: 20px;
	padding:15px;
	border-style: solid;
	border-color: gold;
	
	background: linear-gradient(to top, #41f7fd 0%,#13f3f7 40%,#02b4ba 100%);
	}

.textAligL{
text-align: left;
}

.textAlignC{
	text-align: center;
}

#bank{
 
 

}

#outputBox{
	

}

#mainButton{
	font-weight: bold;
}

#upgradeButton{
	font-weight: bold;
}

.buttonFluffer{
background-color: gold;
border-radius: 10px;
border-color: orange;

}


.boxBack{
background-color: gold;
border-style: solid;
border-color: yellow;

}

#divContainerCM{
	margin-left: 250px;
	margin-right: 230px;
	padding:15px;
	border-style: solid;
	border-color: white;
	background-color: lightgrey;
}

#divContainerOB{
	margin-left: 250px;
	margin-right: 230px;
	padding:15px;
	border-style: solid;
	border-color: white;
	background-color: lightgrey;
}